// *************************************
//
//   Card
//   -> Colored content containers
//
// *************************************

.card
  background: lighten($c-gray-light, 5%)
  border-radius: $b-borderRadius
  margin-bottom: ($b-space * 5)
  overflow: hidden

// -------------------------------------
//   Modifiers
// -------------------------------------

.card--outline
  background: white
  border: $b-border
  border-radius: $b-borderRadius
  color: $c-gray-dark
  font-size: ($t-fontSize * 0.875)
  margin: ($b-space * 1.5) 0
  padding: ($b-space * 1.5) ($b-space * 2)

.card--row
  align-items: center
  display: flex
  flex-flow: row no-wrap
  justify-content: space-between
  margin-bottom: 0
  padding: ($b-space * 2)

// -------------------------------------
//   States
// -------------------------------------

.card.is-expanded
  .card-content
    height: ($b-space * 20)
    padding-bottom: ($b-space * 1.5)
    padding-top: ($b-space * 1.5)

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

.card-content
  height: 0px
  padding: 0 ($b-space * 2)
  transition: all ($b-transition-time * 0.5) ease-out

.card-header
  background: $c-gray-dark
  color: white
  padding: ($b-space * 1.5) ($b-space * 2)
