// *************************************
//
//   Card
//   -> Colored content containers
//
// *************************************

.card
  align-items: center
  background: lighten($c-gray-light, 5%)
  border-radius: $b-borderRadius
  display: flex
  flex-flow: row no-wrap
  justify-content: center
  padding: ($b-space * 2.5)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
