// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// *************************************

.cell
  margin-left: auto
  margin-right: auto
  max-width: $b-maxWidth
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

.cell--content
  animation: slideInUp 500ms 1 ease
  padding-top: $header-height

// -------------------------------------
//   Animations
// -------------------------------------

@keyframes slideInUp
  from
    opacity: 0
    transform: translateY(#{$b-space * 2})
  to
    opacity: 1
    transform: translateY(0)
