// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// *************************************

.cell
  margin-left: auto
  margin-right: auto
  max-width: $b-maxWidth
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Misc ----- //

.cell--animate
  animation: slideInUp $b-transition-time 1 ease

.cell--centered
  align-items: centered
  display: flex
  flex-flow: column nowrap
  height: calc(100vh - #{$header-height})
  justify-content: centered

.cell--content
  padding-top: $header-height

// ----- Sizes ----- //

.cell--s
  max-width: ($b-maxWidth * 0.25)

.cell--m
  max-width: ($b-maxWidth * 0.65)

.cell--l
  max-width: ($b-maxWidth * 0.8)
