// *************************************
//
//   Editable
//   -> Awesome text editor
//
// *************************************

.editable
  border: none
  color: $c-gray-dark
  display: block
  height: calc(100vh - #{($b-space * 15) + $header-height}
  outline: none
  padding: 0
  resize: none
  width: 100%
  p
    font-size: $t-fontSize-l

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
