// *************************************
//
//   Footer
//   -> This is an example module
//
// *************************************

.footer
  margin-bottom: ($b-space * 3)
  a
    color: $c-gray
    display: block
    font-size: $t-fontSize-s
    padding: ($b-space * 0.25) 0
    &:hover, &:focus
      color: $c-blue
    &:first-child:hover,
    &:first-child:focus
      color: $c-red

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
