// *************************************
//
//   Header
//   -> Course navigation items
//
// *************************************

.header
  background-image: linear-gradient(to bottom, white 50%, rgba(white, 0.9))
  height: $header-height
  left: 0
  margin: auto
  padding: 0 ($b-space * 5)
  position: fixed
  right: 0
  top: 0
  width: 100%
  z-index: $z-header

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

.header-grid
  height: $header-height

.header-items
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end
