// *************************************
//
//   Heading
//   -> Replacements for h1, h2, etc.
//
// *************************************

.heading
  color: darken($c-gray-dark, 10%)
  font-size: $t-heading-fontSize
  font-weight: 400
  margin: 0

// -------------------------------------
//   Modifiers
// -------------------------------------

.heading--s
  border-bottom: $b-border
  color: $c-gray
  font-size: $t-heading-fontSize-s
  letter-spacing: 0.125em
  margin-bottom: ($b-space * 3)
  padding-bottom: ($b-space * 0.5)
  text-transform: uppercase

.heading--l
  font-size: $t-heading-fontSize-l
  margin-bottom: ($b-space * 3)

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
