// *************************************
//
//   List
//   -> Since lists styles are blank by
//      default, this class will re-add
//      the styling back to lists
//
// *************************************

.list
  list-style: disc
  margin: ($b-space * 2) 0
  text-align: left

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
