// *************************************
//
//   Well
//   -> Vertical spacing
//
// *************************************

.well
  margin-bottom: ($b-space * 2)
  margin-top: ($b-space * 2)
  +respond-to($g-m)
    margin-bottom: ($b-space * 3)
    margin-top: ($b-space * 3)

// -------------------------------------
//   Modifiers
// -------------------------------------
